<?xml version="1.0"?>
<launch>
  <arg name="ip" default="192.168.10.109"/>
  <arg name="stream_num" default=""/>
  <arg name="url" default="http://$(arg ip)/video$(arg stream_num).mjpg"/>
  <arg name="stream_topic" default="roah_ipcam/stream"/>
  <arg name="repub_topic" default="roah_ipcam/image"/>

  <node name="roah_ipcam" pkg="roah_ipcam" type="roah_ipcam" respawn="true">
    <param name="url" type="string" value="$(arg url)"/>
    <param name="stream_topic" type="string" value="$(arg stream_topic)"/>
  </node>

  <node name="roah_ipcam_republisher" pkg="image_transport" type="republish" respawn="true"
        args="compressed in:=$(arg stream_topic) out:=$(arg repub_topic)"/>
</launch>
